.projets {
    
    & > div {
        .liste-projets {
            .projet {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                margin-top: 30px;
                margin-bottom: 30px;

                h1 {
                    font-size: 20px;
                }
        
                h2 {
                    font-size: 16px;
                }

                h3 {
                    font-size: 14px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 5px;
                }

                .projet-action {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 10px;
                }

                .competence-associee {
                    background-color: var(--couleur-principale);
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-radius: 5px;
                    color: white;
                    transition: all 0.5s;

                    &:hover {
                        background-color: var(--couleur-tertiaire);
                    }
                }

                .technologie-utilisee {
                    background-color: var(--couleur-quaternaire);
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-radius: 5px;
                }
            
                .diaporamaRealisations {
                    width: 30vw;
                    margin: auto;
                    position: relative;
                    overflow: hidden;
                    transition: all 1s;
                }
                
                .imageRealisation {
                    display: grid;
                    grid-auto-flow: column;
                    
                    .image-projet {
                        width: 30vw !important;
                        height: 100%;
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        
                        img {
                            max-width: 30vw;
                            max-height: 25vw;
                        }
                    }
                }
            
                .imageRealisationPrecedente, .imageRealisationSuivante {
                    cursor: pointer;
                    color: white;
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                    padding: 16px;
                    border-radius: 3px;
                    background: rgba(0, 0, 0, .5);
                    transition: all .3s;
                }
            
                .imageRealisationSuivante {
                    right: 0;
                }
                
                .imageRealisationPrecedente:hover, .imageRealisationSuivante:hover {
                    background: rgba(0, 0, 0, .8);
                }
            
                .lienImageRealisation {
                    cursor: pointer;
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    margin: 10px 2px 0 2px;
                    display: inline-block;
                    background: #ddd;
                    transition: all .3s;
                }
                
                .imageRealisationActive, .lienImageRealisation:hover {
                    background: #717171;
                }
            
                .diaporamaListePoints{
                    text-align: center;
                }

                @media screen and (max-width: 1000px) {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .diaporamaRealisations {
                        width: 70vw;
                        margin: auto;
                        position: relative;
                        overflow: hidden;
                        transition: all 1s;
                    }
                
                    .imageRealisation {

                        .image-projet {
                            width: 70vw !important;

                            img {
                                max-width: 70vw;
                                max-height: 50vw;
                            }
                        }
                    }
                }
            }
        }
    }
}