.technologies {
    
	.liste-technologies {
		margin-bottom: 50px;

		&>div {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 10px;

			.technologie {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;
				width: 100px;
				height: 100px;
				padding: 10px;
				border-radius: 10px;
				background-color: var(--couleur-principale);

				&>div {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}

				.techno-avec-texte {
					
					img {
						max-width: 50px;
						max-height: 50px;
					}

					p {
						color: white;
						font-size: 20px;
						font-weight: bold;
						margin: 0;
					}
				}

				.techno-sans-texte {
					img {
						max-width: 80px;
						max-height: 80px;
					}
				}
				
			}
		}
	}
}

/* TODO */
/* --- Technologies --- */
#section-technologies .technologie{
	margin: 10px;
	padding: 10px;
}
#section-technologies .listeTechnologies{
	
}

/* Langages */
.langage{
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
	padding: 30px;
	width: 64px;
	height: 70px;
}

.langage div{
	min-width: 64px;
	min-height: 64px;
}

.langage img{
	max-width: 64px;
  	max-height: 64px;
}