#accueil {
    margin: 0px;
    padding: 0px;

    text-align: center;
    background-color: transparent;
	box-shadow: none;
	height: calc(100vh - 50px);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;

    h1 {
        font-family: GoodTiming;
        font-size: 70px;
        background: linear-gradient(90deg, var(--couleur-principale), var(--couleur-secondaire)); /* Dégradé horizontal */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}