main {

    section {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 5px;
	    margin-right: 5px;
        padding: 30px;

        background-color: rgba(250, 250, 250, 0.7);
        box-shadow: 16px 16px 30px rgba(0, 0, 0, 0.5), -8px -8px 20px rgba(0, 0, 0, 0.1);
        border-radius: 30px;

        /* Pour l'animation */
        &.section-animee {
            opacity: 0;
            transform: translateY(50px);
            transition: opacity 0.8s ease-out, transform 0.8s ease-out;

            &.section-visible {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}

.sombre main {
    section {
        background-color: rgba(5, 5, 5, 0.7);
    }
}

.lien-section, .lien-page {
	position: relative;
	top: -100px;
}
