footer {
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;

	height: 80px;
	margin: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 20px;
	box-shadow: 16px 16px 30px rgba(0, 0, 0, 0.5), -8px -8px 20px rgba(0, 0, 0, 0.1);

	background-color: rgb(240, 240, 255);
}

.sombre footer {
	background-color: rgb(30, 30, 70);
}