header {
	/* Pour fixer le header */
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 1;
	height: 80px;
	margin-top: 0px; /* Retrait de la marge du header en haut */
    padding-left: 10px;
	padding-right: 10px;
    width: calc(100vw - 20px);
	/*
    margin: 5px;
    width: calc(100% - 30px);
    border-radius: 10px;
    */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background-color: rgb(245, 245, 255);
	box-shadow: 10px 5px 5px rgba(100, 100, 100, 0.1);

    &>div {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        div {
            padding: 10px;
            width: 30px;
            height: 30px;
            border-radius: 5px;
            margin-left: 10px;
            margin-right: 10px;

            &:hover {
                background-color: rgba(200, 200, 230, 0.5);
            }

            &:focus {
                background-color: rgba(150, 150, 200, 0.5);
            }

            img {
                width: 30px;
                height: 30px;
            }
        }

        @media screen and (max-width: 1000px) {
            align-items: flex-start;
            width: 100%;

            div {
                position: fixed;
                top: 15px;
                right: 20px;

                margin-left: 0px;
                margin-right: 0px;
            }
        }
    }
    
    #bouton-menu-nav {
        display: none;
    }

    h1 {
        text-decoration: none;
        cursor: pointer;
        margin: 15px;

        img {
            height: 50px;

            @media screen and (max-width: (350px)) {
                margin-top: 10px;
                margin-bottom: 10px;
                height: 30px;
            }
        }

        a {
            text-decoration: none;
            font-weight: normal;
            font-size: 30px;
            color: black;
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            transition: all 0.5s;

            @media screen and (max-width: (350px)) {
                font-size: 15px;
            }
        }
    }

    /*
    .cache-dessous-header{
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 0;
        width: calc(100% - 10px);
        margin-left: 5px;
        margin-right: 5px;
        height: 80px;
        background-color: rgb(255, 255, 255);
    } /* Retrait de la marge du header en haut */

    nav {

        ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: row;
        }

        ul li a {
            border-radius: 5px;
            text-decoration: none;
            color: black;
            cursor: pointer;
            padding: 16px;
            transition: all 0.5s;
        }

        ul li a:hover{
            color: var(--couleur-principale);
            background-color: rgba(200, 200, 230, 0.5);
        }

        ul li a:focus{
            background-color: rgba(150, 150, 200, 0.5);
        }
    }

    @media screen and (max-width: 1000px) {
        display: flex;
		flex-direction: column;

        --taille-header-ouvert: 440px;

        &.header-ouvert{
            animation-duration: 0.5s;
            animation-name: ouvrir-header;
            height: var(--taille-header-ouvert);
        }

        &.header-ferme{
            animation-duration: 0.5s;
            animation-name: fermer-header;
            height: 80px;
        }

        @keyframes ouvrir-header {
            from{
                height: 80px;
            }
            to{
                height: var(--taille-header-ouvert);
            }
        }

        @keyframes fermer-header {
            from{
                height: 360px;
            }
            to{
                height: 80px;
            }
        }

        @keyframes ouvrir-elt-nav {
            from{
                color: rgba(0, 0, 0, 0);
            }

            to{
                color: rgba(0, 0, 0, 1);
            }
        }

        nav {
            display: none;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-right: 0px;
            width: 100%;

            &.nav-ouvert {
                display: inline-block;
            }

            ul {
                display: inline-flex;
                flex-direction: column;
                width: 95%;
                li {
                    width: 100%;
                    a {
                        display: inline-block;
                        width: calc(100% - 32px);
                    }
                }
            }
        }

        #bouton-menu-nav {
            position: absolute;
            left: 16px;
            top: 16px;
            display: inline-block;
            cursor: pointer;
            background: transparent;
            border: none;
            padding: 10px;
            border-radius: 5px;
            transition: all 0.5s;

            &:hover {
                background-color: rgba(200, 200, 230, 0.5);
            }

            &:focus {
                background-color: rgba(150, 150, 200, 0.5);
            }

            & > div {
                height: 32px;
                width: 32px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            #bar-nav-1, #bar-nav-2, #bar-nav-3{
                height: 5px;
                width: 100%;
                background-color: black;
                transition: 0.4s;
                border-radius: 5px;
            }

            #bar-nav-1 {
                transform-origin: center;
            }
            
            #bar-nav-3 {
                transform-origin: center;
            }

            .ouvert #bar-nav-1{
                transform: translate(0, 14px) rotate(-45deg);
            }
            
            .ouvert #bar-nav-2{
                opacity: 0;
            }
            
            .ouvert #bar-nav-3{
                transform: translate(0, -13px) rotate(45deg);
            }
        }
    }
}