/* --- Configurations --- */
html {
	scroll-behavior: smooth;
}

/*
.remonter{
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 50px;
	height: 50px;
	z-index: 0;
	border-radius: 5px;
	transition: all 0.5s;
}

.remonter *{
	width: 50px;
	height: 50px;
}

.remonter:hover{
	background-color: rgba(200, 200, 200, 0.5);
}
*/

.lien{
	position: relative;
	top: -100px;
}

/* ----- Polices ----- */
@font-face {
	font-family: "Harlow Solid Italic";
	src:
		url("../polices/HARLOWSI.TTF");
}

@font-face {
	font-family: "Ubuntu";
	src: url("../polices/UbuntuTitling-Bold.ttf");
}

body{
	font-family: "Ubuntu", "Calibri";
	margin: 0;
}

/* ---------- Écran de démarrage ---------- */
.demarrage{
	position: fixed;
	z-index: 2;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	visibility: collapse;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	animation-duration: 3s;
	animation-name: fond-demmarrage;
}

.demarrage h1{
	font-family: "Harlow Solid Italic";
	animation-duration: 3s;
	animation-name: titre-demarrage;
	font-size: 50px;
	text-align: center;
	visibility: collapse;
}

@keyframes fond-demmarrage{
	0%{
		background-color: white;
		visibility: visible;
	}
	90%{
		background-color: white;
	}
	100%{
		background-color: transparent;
	}
}

@keyframes titre-demarrage {
	0%{
		color: black;
		visibility: visible;
	}
	50%{
		color: black;
	}
	70%{
		color: transparent;
	}
	100%{
		color: transparent;
	}
}

@keyframes main-demarrage {
	from{
		margin-top: 100vh;
	}

	to{
		margin-top: 100px;
	}
}

/* ----- Header ----- */
header{
	/* Pour fixer le header */
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 1;
	width: calc(100% - 30px);
	height: 80px;
	margin: 5px;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background-color: rgb(250, 250, 250);
	border-radius: 10px;
	box-shadow: 10px 5px 5px rgba(100, 100, 100, 0.1);
}

header h1{
	text-decoration: none;
	font-family: "Harlow Solid Italic";
	cursor: pointer;
}

.cache-dessous-header{
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 0;
	width: calc(100% - 10px);
	margin-left: 5px;
	margin-right: 5px;
	height: 80px;
	background-color: rgb(255, 255, 255);
}

header #bouton-menu-nav{
	display: none;
}

header h1 a{
	text-decoration: none;
	color: black;
}

header nav ul{
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: row;
}

header nav ul li a{
	border-radius: 5px;
	text-decoration: none;
	color: black;
	cursor: pointer;
	padding: 16px;
	transition: all 0.5s;
}

header nav ul li a:hover{
	background-color: rgba(200, 200, 200, 0.5);
}

header nav ul li a:focus{
	background-color: rgba(150, 150, 150, 0.5);
}

/* ---------- Main ---------- */
main{
	margin-top: 100px; /* Pour fixer le header */
	animation-duration: 4s;
	animation-name: main-demarrage;
}

main section{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: rgba(250, 250, 250, 0.5);
	box-shadow: 10px 5px 5px rgba(200, 200, 200, 0.5);
	border-radius: 10px;
}

/* Présentation */
#section-presentation{
	display: flex;
	flex-direction: row;
}

#section-presentation .profil{
	width: 300px;
	height: 300px;
	border-radius: 100%;
	box-shadow: 10px 10px 10px rgba(200, 200, 200, 0.5);
}

/* Compétences */
.competence{
	padding: 10px;
	margin: 10px;
	background-color: rgba(230, 230, 230, 0.5);
	box-shadow: 10px 5px 5px rgba(200, 200, 200, 0.5);
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* Technologies */
#section-technologies .technologie{
	margin: 10px;
	padding: 10px;
}
#section-technologies .listeTechnologies{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/* Langages */
.langage{
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
	padding: 30px;
	width: 64px;
	height: 70px;
}

.langage div{
	min-width: 64px;
	min-height: 64px;
}

.langage img{
	max-width: 64px;
  	max-height: 64px;
}

/* ----- Footer ----- */
footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;

	height: 80px;
	margin: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	box-shadow: 10px 5px 5px rgba(100, 100, 100, 0.5);

	background-color: rgb(240, 240, 240);
}

/* ------------- Affichage tablette -------------- */
@media screen and (max-width: 1000px) {
	/* ---------- Header ---------- */
	header{
		display: flex;
		flex-direction: column;
	}

	.header-ouvert{
		animation-duration: 0.5s;
		animation-name: ouvrir-header;
		height: 360px;
	}

	.header-ferme{
		animation-duration: 0.5s;
		animation-name: fermer-header;
		height: 80px;
	}

	@keyframes ouvrir-header {
		from{
			height: 80px;
		}
		to{
			height: 360px;
		}
	}

	@keyframes fermer-header {
		from{
			height: 360px;
		}
		to{
			height: 80px;
		}
	}

	@keyframes ouvrir-elt-nav {
		from{
			color: rgba(0, 0, 0, 0);
		}

		to{
			color: rgba(0, 0, 0, 1);
		}
	}

	/* Bouton de navigation */
	header #bouton-menu-nav{
		position: absolute;
		left: 16px;
		top: 16px;
		display: inline-block;
		cursor: pointer;
		background: transparent;
		border: none;
		padding: 10px;
		border-radius: 5px;
		transition: all 0.5s;
	}

	header #bouton-menu-nav > div{
		height: 32px;
		width: 32px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	header #bouton-menu-nav:hover{
		background-color: rgba(200, 200, 200, 0.5);
	}

	header #bar-nav-1, header #bar-nav-2, header #bar-nav-3{
		height: 5px;
		width: 100%;
		background-color: black;
		transition: 0.4s;
		border-radius: 5px;
	}

	#bar-nav-1 {
		transform-origin: center;
	}
	
	#bar-nav-3 {
		transform-origin: center;
	}
	
	.ouvert #bar-nav-1{
		transform: translate(0, 14px) rotate(-45deg);
	}
	
	.ouvert #bar-nav-2{
		opacity: 0;
	}
	
	.ouvert #bar-nav-3{
		transform: translate(0, -13px) rotate(45deg);
	}


	header nav{
		display: none;
		padding-top: 0px;
		padding-bottom: 0px;
		width: 100%;
	}

	header .nav-ouvert{
		display: inline-block;
	}

	header nav ul{
		display: inline-flex;
		flex-direction: column;
		width: 100%;
	}

	header nav ul li{
		width: 100%;
	}

	header nav ul li a{
		display: inline-block;
		width: calc(100% - 32px);
	}
}

/* -------------- Affichage mobile --------------- */
@media screen and (max-width: 700px) {
	/* ---------- Écran de démarrage ---------- */
	.demarrage h1{
		font-size: 40px;
	}

	/* Présentation */
	#section-presentation{
		display: flex;
		flex-direction: column;
	}

	#section-presentation .profil{
	max-width: 300px;
	width: 100%;
	height: auto;
	}

	/* Compétences */
	.competence{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

/* -------------------- Mode sombre -------------------- */
.modeSombre {
	background-color: rgb(10, 10, 10);
}